.col0{
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.th-container{
    line-height: 50px;
}
th{
    border: solid 5px rgb(145, 240, 240);
    background-color: rgb(185, 241, 241);
}
td{
    /* border: solid .5px red; */
    overflow: hidden; /* Hide the content that overflows the cell */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    border: dotted 1px rgb(178, 241, 170);
    /* background-color: rgb(178, 241, 170); */
}
.col1{
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
.col2{
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
.col3{
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
.col4{
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}
.col5{
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}
.col6{
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}
.col7{
    height: 100px;
    font-size: 20px;
    margin: 5px;
}
.text7{
    width: 200px;
    height: 100px;
    border: none;
    outline: none;
    /* overflow: hidden; */
}
.col8{
    height: 50px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    margin: 5px;
}
.col9{
    height: 50px;
    font-size: 20px;
    width: 150px;
    margin: 5px;
}